<p id="notice"><%= notice %></p>

<%= link_to 'Back', har_file_url(id: @har_file_id)%>

<h1>Requests</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Method</th>
      <th>Url</th>
      <th>Har file</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.index %></td>
        <td><%= request.method %></td>
        <td><%= request.uri %></td>
        <td><%= link_to 'Show', har_file_request_url(id: request.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
