<p id="notice"><%= notice %></p>

<h1>Requests</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Method</th>
      <th>Url</th>
      <th>Har file</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.index %></td>
        <td><%= request.method %></td>
        <td><%= request.uri %></td>
        <td><%= request.har_file %></td>
        <td><%= link_to 'Show', request %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path %>
