<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @request.index %>
</p>

<p>
  <strong>Method:</strong>
  <%= @request.method %>
</p>

<p>
  <strong>Url:</strong>
  <%= @request.uri %>
</p>

<p>
  <strong>Har file:</strong>
  <%= @request.har_file %>
</p>
<%= link_to 'Back', har_file_requests_url(id: @request.har_file_id) %>
